@import url(/assets/css/reset.css);

body {
    background-color: black;
}

b {
    color: white;
}

.banner {
    background-image:linear-gradient(rgba(0,0,0,.6), rgba(49,168,221,.1), rgba(0,0,0,.6)) , url(/assets/images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 560px;
    padding-top: 20px;
    margin-bottom: -30px;
    border-bottom: 1px solid rgb(51,168,219,1);
}

.banner .banner-content {
    color: white;
    width: 600px;
    margin: auto;
    text-align: center;
}

.banner h1{
    text-transform: uppercase;
    font: 900;
    font-size: 40px;
    background: -webkit-linear-gradient(rgba(51,168,219,1), rgba(20,114,183,1));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.banner p{
    font-size: 23.3px;
    margin: 16px 0 24px;
}

.banner .banner-content button{
    color: rgba(49,168,221,1);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 100%;
    background-color: transparent;
    border-image: linear-gradient(rgba(59,161,205,1), rgba(21,114,183,1));
    border-image-slice: 10;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 16px 38px;

}

.banner .log{
    background-color: rgba(0,0,0,.2);
    width: 268px;
    height: 268px;
    margin: auto;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner .log img{
    margin:auto;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

h2{
    letter-spacing: 7.6px;
    font-size: 32px;
    text-transform: uppercase;
    color: rgba(51,168,219,1);
    font-weight: bold;
    margin-top: -60px;
    margin-bottom: 24px;
}

section{
    margin: 100px auto;
    width: 792px;
    height: 325px;

}

#course-content {
    width: 800px;
    text-align: center;
}

#course-content p{
    color: white;
    font-size: 16px;
    letter-spacing: 0%;
    line-height: 100%;
    text-align: center;
    padding-bottom: 38px;
    gap: 24px;

}

#course-content .modules-list{
    margin: 24px, 0;
}

#course-content .modules-list .module {
    color: white;
    width: 530px;
    margin: 0 auto 24px;
    border: 1px solid #33A8DB;
    background-color: #252525;
    padding: 16px;
    border-radius: 100px;
    box-shadow: inset -2px 6px 4px rgba(0, 0, 0, .7);
}

#course-content .modules-list .module span {
    color: #33A8DB;
}

#transform-world {
    height: 500px;
    width: 1440px;
    background-size: cover;
    background-image: url("../images/woman-code.png");
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
}

#transform-world p {
    font-weight: 900;
    font-size: 40px;
    color: white;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
    }

#professional-challenges {
    text-align: center;
    width: 746;
    height: 600px;
    margin-top: -50px;
}

#professional-challenges img {
    margin: -50px 0;
    width: 659px;
    height: 429px;
    position: absolute;
    top: 1685px;
    left: 390px;
}

#professional-challenges p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-weight: 400;
    width: 792px;
    height: 76px;
    position: absolute;
    top: 2154px;
    left: 324px;
    margin-top: -50px;
    line-height: 100%;
    text-align: center;
}

footer {
    width: 1440px;
    height: 170px;
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
    border-top: 1px solid #33A8DB80;
}

footer .dio-logo {
    width: 310px;
    height: 44px;
    position: center;
}

footer p {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
}